<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO">
	<insert id="insertBoard">
	
	insert into MOVIE_REVIEW (title, writer, dialogue, content, recommend, director)
	values 
	(#{title}, #{writer}, #{dialogue}, #{content}, #{recommend}, #{director})
	</insert>
	<update id="updateBoard">
	update MOVIE_REVIEW
		set title=#{title}, writer=#{writer}, dialogue=#{dialogue}, content=#{content}, recommend=#{recommend}, director=#{director}
		where seq=#{seq}
	</update>
	<delete id="deleteBoard">
	delete from MOVIE_REVIEW where seq=#{seq}
	</delete>
	<select id="getBoard" resultType="board">
	select * from MOVIE_REVIEW where seq=#{seq}
	</select>
	<select id="getBoardList" resultType="board">
	select * from MOVIE_REVIEW order by seq desc
	</select>
</mapper>